<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-tui-menu" label="TUIs (Kitty)">
  <item label="System Monitor (htop)">
    <action name="Execute">
      <command>kitty --title float-term -e htop</command>
    </action>
  </item>

  <item label="System Monitor (btop)">
    <action name="Execute">
      <command>kitty --title float-term -e btop</command>
    </action>
  </item>

  <item label="Bluetooth (bluetui)">
    <action name="Execute">
      <command>kitty --title float-term -e bluetui</command>
    </action>
  </item>

  <item label="Network (impala)">
    <action name="Execute">
      <command>kitty --title float-term -e impala</command>
    </action>
  </item>

  <item label="Network Manager (nmtui)">
    <action name="Execute">
      <command>kitty --title float-term -e nmtui</command>
    </action>
  </item>

  <item label="Audio Mixer (pulsemixer)">
    <action name="Execute">
      <command>kitty --title float-term -e pulsemixer</command>
    </action>
  </item>

  <item label="Wiremix">
    <action name="Execute">
      <command>kitty --title float-term -e wiremix</command>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Kitty">
    <action name="Execute">
      <command>kitty</command>
    </action>
  </item>
  <item label="Xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Zen">
    <action name="Execute">
      <command>zen</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>zen</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Gnome Control Center">
    <action name="Execute">
      <command>gnome-control-center</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="KDE Control Center">
    <action name="Execute">
      <command>kcontrol</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Xfce Settings">
    <action name="Execute">
      <command>xfce-setting-show</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-tui-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
